@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pink: rgb(247, 0, 255);
	--white: #fffffc;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	padding-top: 0px;
	font-family: "Quicksand", sans-serif;

	border-top: 0px;
	overflow-x: hidden;
}

.container {
	margin-top: 80px;
	z-index: -5;
	border-radius: 124px 150px 105px 150px;
	width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	font-family: "Quicksand", sans-serif;
	border-top: 0px;
}

.page {
	min-width: 1000px;
	width: 1000px;
	padding: 60px;
}

.about-author {
	width: 230px;
	height: 230px;
	border: 3px solid black;
	background-color: black;
	border-radius: 50%;
	background-color: blueviolet;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 9px solid black;
}

svg {
	transform: scale(3.2);
	position: absolute;
}

.tags {
	margin-top: -170px;
	height: 200px;
	background-color: black;
	color: var(--white);
	width: 150px;
	height: 150px;
	position: relative;
	left: -271px;
	top: 19px;
}

.headline-container-section {
	min-width: 100%;
	display: flex;
	background-color: black;
	z-index: -5;
	border-radius: 150px 0 0 150px;
	justify-content: flex-start;
	align-items: center;
}

.headline-container {
	/* background-color: black; */

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	/* border-radius: 0 150px 150px 0; */
	height: 240px;
	padding: 6em;
	margin-left: -5em;
	margin-right: -5em;
}

.headline-container h2 {
	background-color: black;
	height: 200px;
	width: 300px;
	display: flex;
	align-items: center;
	padding-left: 30px;
	border-radius: 150px 0 0 150px;
	z-index: -5;
}

.headline-container h2:after {
	content: "";
	background-color: black;
	height: 200px;
	width: 500px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 50;
}

.text {
	float: none;
	margin: 50px;
	text-align: justify;
	position: relative;
}

.page-1 .text aside {
	shape-outside: circle(50%);
	float: right;
	background-color: rgb(247, 0, 255);
	position: relative;
	top: -50%;
	margin: 16px;
	height: 160px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
	border: 10px solid black;
}

.page-3 .text aside {
	shape-outside: circle(50%);
	/* float: right; */
	background-color: rgb(247, 0, 255);

	top: 0%;
	float: right;
	left: 0%;
	margin: 16px;
	height: 160px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
	border: 10px solid black;
}

/* .page-1 .text aside::after {
  content: '';
  width: 212px;
  height: 10em;
  background-color: black;
  z-index: -5;
  left: 50%;
  position: absolute;
} */
.text img {
	margin: 1em;

	margin-top: -1em;
	margin-right: 3em;
	width: 200px;
	float: left;
	object-fit: cover;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	border: 15px solid black;
}

.page-1 .img-holder {
	position: relative;
}

.page-1 .img-holder::after {
	content: "";
	width: 398px;
	height: 920px;
	background-color: black;
	z-index: -5;
	left: 17px;
	top: calc(138% + 10em);
	position: absolute;
	border-radius: 0 0 10% 10%;
}

.page-2 h2 {
	position: relative;
	text-align: center;
	left: 13%;
	font-size: 3em;
	width: 400px;
	margin-top: -45px;
}

.flex {
	display: flex;
}

.page-2-heading p {
	margin-left: 13em;
	margin-right: 2em;
	text-align: justify;
}

.page-2-heading h2 {
	width: 400px;
}

.page-2 .text {
	float: none;
}

.page-1 img {
	shape-outside: ellipse(580px 601px at 17% 136%);
}

.page-2 img {
	shape-outside: ellipse(257px 300px at 55% 30%);
}

h1 {
	font-family: "Press Start 2P", cursive;
	font-size: 100px;
	font-weight: 200;
	color: var(--white);
	/* text-transform: uppercase; */
	text-shadow: -0.2rem -0.2rem 1rem var(--pink), 0.2rem 0.2rem 1rem var(--pink),
		0 0 2rem var(--pink), 0 0 4rem var(--pink), 0 0 6rem var(--pink),
		0 0 8rem var(--pink), 0 0 10rem var(--pink);
	margin-left: -120px;
	margin-right: 60px;
}

h1::-moz-selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
}

h1::selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
}

h2 {
	color: white;
	font-family: "Press Start 2P", cursive;
	text-align: right;
}

.first-words {
	font-size: 2em;
	font-weight: bolder;
}

.tag {
	border: 2px solid rgb(0, 13, 128);
	font-weight: bolder;
	font-size: 1.5em;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: var(--pink);
	border: 5px solid black;
	color: black;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0%;
}

.featured {
	width: 130px;
	height: 130px;
}

.page-3 h2 {
	writing-mode: vertical-rl;
	text-orientation: upright;
	background-color: black;
	height: 1200px;
	width: 550px;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 50px;
	border-radius: 150px 150px 0 168px;
	margin-left: -50px;
}

.img-holder-page-3 {
	position: relative;
	width: 900px;
	height: 300px;
	display: flex;
	margin-top: -266px;
	margin-left: -50px;
	margin-right: 0em;
	padding: 0;
	background-color: black;
	border-radius: 0 150px 150px 150px;
}

.img-holder-page-3:after {
	content: "";
	width: 91px;
	height: 183px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: -77px;
	left: 168px;
	z-index: -10;
}

.img-holder-page-3:before {
	content: "";
	width: 154px;
	height: 150px;
	background-color: var(--white);
	position: absolute;
	top: -149px;
	left: 192px;
	border-radius: 50%;
	z-index: -5;
}

.img-holder-page-3 img {
	width: 300px;
	height: 300px;
	display: flex;
	margin: 0;
	padding: 0;
}

.page-4 h2 {
	color: black;
	font-size: 60px;
}

.page-4 img {
	margin-left: -400px;
	margin-bottom: -60px;
	height: 800px;
	width: 800px;
}

.page-4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.page-4 .text {
	margin-bottom: 0;
	padding-bottom: 0;
}

.page-4 img {
	margin-top: 20px;
	/* shape-outside: ellipse(130px 140px at 20% 20%); */
}

.page-4 .text aside {
	shape-outside: circle(50%);
	/* float: right; */
	background-color: rgb(247, 0, 255);
	position: absolute;
	top: 119px;
	left: 20%;
	margin: 16px;
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
	border: 10px solid black;
}

.page-2 {
	margin-top: 60px;
}

footer {
	width: 1040px;
	padding: 5px;
	/* border: 10px solid black; */
	margin-top: 60px;
	border-radius: 0 36px 2920px 0;
	height: 100px;
	background-color: var(--pink);
	font-size: 16px;
}

footer a {
	color: black;
}

footer a:hover {
	color: black;
	opacity: 50%;
	cursor: pointer;
}













.corner-button {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.02rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    padding: 1.5rem 2rem;
    font-size: 7rem;
    color: #06c17f;
    position: relative;
    transition: color 0.3s;
    z-index: 1;
    height:300px;
    width:1000px;
  }
  .corner-button:hover {
    color: pink;
  }
  .corner-button:hover::before {
    width: 0;
  }
  .corner-button:hover::after {
    height: 0;
  }
  .corner-button:active {
    border-width: 0.25rem;
  }
  .corner-button::before, .corner-button::after {
    content: '';
    position: absolute;
    background: #000000;
    z-index: -1;
    transition: all 0.3s;
  }
  .corner-button::before {
    width: calc(100% - 3rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .corner-button::after {
    height: calc(100% - 3rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }